<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username" placeholder="Your username">
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password" placeholder="Your password">
    <br/>
    <input type="submit" value="Login"/>

    <div th:if="${param.error}" style="color:#ff0000">
        Неправильное имя или пароль
    </div>
</form>

</body>
</html>